.combat_container {
    position: relative;
}

.combat_background {
    width: 90%;
    height: 90vh; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 70px;
    z-index: -1; 
}

.battlefield, .actions {
    position: absolute;
    width: 70%; /* Adjust width as necessary */
    display: flex;
    justify-content: center;
    align-items: center;
}

.battlefield {
    top: 30%; 
}

.actions {
    bottom: -630px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: grid;
    grid-template-columns: repeat(2, auto); 
    grid-gap: 10px;
    border: 6px solid rgb(255, 255, 255); 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    border-radius: 10px; 
    width: 700px; 
}

.combat_button {
    font-family:"Pixel Cyr Normal";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.svg#PixelCyr-Normal") format("svg");
    font-weight:normal;
    font-style:normal;
}
.actions button {
    width: 120px;
    height: 50px;
    margin: 5px;
    z-index: 1; /* Ensures buttons are clickable and above the video */
}

.battle_player {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-230%, 190%);
    width: 15%;
}

.brahm_enemy {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(310%, 190%);
    width: 15%;
}

.health-bar {
    width: 200px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    border: 2px solid #000;
    background-color: #555; /* Background of the bar */
    border-radius: 5px; /* Optional for rounded corners */
    margin: 10px -0px;
    position: relative;
}

.health-fill {
    height: 100%;
    background-color: #f00; /* Red color for health */
    border-radius: 3px;
    transition: width 0.8s ease-in-out;
}
.player-health{
    transform: translate(-80%, 1000%);
}

.enemy-health {
    transform: translate(220%, 1000%);
}
.player-health .health-fill {
    background-color: #f00; /* Color for player health */
}

.enemy-health .health-fill {
    background-color: #0f0; /* Different color for enemy health, adjust as needed */
}

.fireball-animation {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-480%, 20%);
    animation: fireballMove 1s linear forwards;
    width: 200px;
}

@keyframes fireballMove {
    to {
        transform: translate(220%, 0%); 
    }
}

.laser_animation {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-130%, -5%) scaleX(-2);
    /* animation: laserMove 2s linear forwards; */
    width: 700px;
}

@keyframes laserMove {
    to {
        transform: translate(-145%, 40%);
    }
}

.death_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
}

.death_content {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.death_content h2 {
    color: red; 
    font-size: 2em; 
    font-weight: bold;
    margin-bottom: 10px;
}

.death_content p {
    color: white; 
    font-size: 1.5em; 
    font-family: 'Times New Roman', serif; 
    margin-bottom: 20px;
}

.death_content button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}