/* CSS for character container */
.character_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum and maximum width as needed */
    gap: 20px; /* Adjust the gap between cards */
    
  }
  
  /* CSS for character card */
  .character_card {
    border: 1px solid #ca4747; /* Add borders or styling to the card */
    padding: 20px;
  }

  .player_container {
    border: 1px solid white;
    padding: 10px;
  }
  
  .player_title {
    font-family:"Pixel Cyr Normal";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.svg#PixelCyr-Normal") format("svg");
    font-weight:normal;
    font-style:normal;
    border: 3px solid gold;
    padding: 15px;
    color: #ffffff;
  }

  .player_type {
    font-family:"Pixel Cyr Normal";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.svg#PixelCyr-Normal") format("svg");
    font-weight:normal;
    font-style:normal;
    padding: 8px;
    color: burlywood;
  }

  .player_morality {
    font-family:"Pixel Cyr Normal";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.svg#PixelCyr-Normal") format("svg");
    font-weight:normal;
    font-style:normal;
    padding: 8px;
    color: rgb(57, 46, 152);
  }
  .player_image {
    width: 130px; /* Set the width to your desired size */
    height: auto; /* Auto-adjust the height to maintain aspect ratio */
}
.player_button {
    font-family:"Pixel Cyr Normal";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.svg#PixelCyr-Normal") format("svg");
    font-weight:normal;
    font-style:normal;
    font-size: 45px;
}