.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh; /* You can adjust the height as needed */
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed */
  }
  
  .script_shrine {
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .npc_one {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(90%, 130%);
    width: 10%;
  }

  .npc_two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-420%, -80%);
    width: 10%;
  }
  
  .npc_three {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(220%, 150%);
    width: 10%;
  }
  
  .interact_button {
    position: absolute;
    top: 70%; /* Adjust the top position as needed */
    left: 77%;
    transform: translateX(-50%);
    color: #fff;
    border: none;
    padding: 15px 10px; /* Adjust padding as needed */
    border-radius: 0px;
    cursor: pointer;
    font-family:"Final Fantasy Script Collection - Final Fantasy VII";
    font-size: 40px;
    background-color: rgba(169, 153, 153, 0.594);
    color: rgb(255, 255, 255);
    font-smooth: never;
    -webkit-font-smoothing : none;
    line-height: 20px;
  }


  .popup_container {
    position: relative;
    top: 50%; /* Adjust vertically as needed */
    left: 50%; /* Adjust horizontally as needed */
    right: 200%;
    transform: translate(70%, 10%);
    background-color: #120e0e;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 550px; /* Adjust as needed */
    max-height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup_content {
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #0f0b0b transparent;
    background-color: black !important;
  }
  
  .popup_image {
    max-width: 100%;
    max-height: 90%; /* Adjust the maximum height as needed */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .popup_content p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    background-color: black;
  }
  
  .popup_content p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dialogue_button {
    display: block;
    margin-top: 10px;
    justify-content: center;
    background-color: #330f88;
    color: #fff;
    border: none;
    padding: 10px 110px;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Play";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.svg#Play") format("svg");
    font-weight:normal;
    font-style:normal;
  }
  
  .close_button:hover {
    background-color: #0056b3;
  }

  .pop_text {
    font-family:"Play";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.svg#Play") format("svg");
    font-weight:normal;
    font-style:normal;
    
  }

  
  /* Rest of your existing CSS styles for the pop-up container and its content */
  
  