@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.tanner_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.ruin_home {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes flaming-border {
    0% {
        box-shadow:
            0 0 10px rgba(255, 69, 0, 0.75),
            0 0 20px rgba(255, 140, 0, 0.75),
            0 0 30px rgba(255, 69, 0, 0.75),
            0 0 40px rgba(255, 0, 0, 0.75);
    }
    50% {
        box-shadow:
            0 0 20px rgba(255, 69, 0, 0.75),
            0 0 30px rgba(255, 140, 0, 0.75),
            0 0 40px rgba(255, 69, 0, 0.75),
            0 0 50px rgba(255, 0, 0, 0.75);
    }
    100% {
        box-shadow:
            0 0 10px rgba(255, 69, 0, 0.75),
            0 0 20px rgba(255, 140, 0, 0.75),
            0 0 30px rgba(255, 69, 0, 0.75),
            0 0 40px rgba(255, 0, 0, 0.75);
    }
}

.centered_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0); /* Black background without transparency */
    border: 2px solid transparent; /* Ensure box-shadow effect is visible */
    box-shadow:
        0 0 10px rgba(255, 69, 0, 0.75),
        0 0 20px rgba(255, 140, 0, 0.75),
        0 0 30px rgba(255, 69, 0, 0.75),
        0 0 40px rgba(255, 0, 0, 0.75);
    animation: flaming-border 2s infinite;
    padding: 20px;
    overflow-y: auto;
}

.header_section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.profile_info {
    display: flex;
    align-items: center;
}
@keyframes flaming-border {
    0% {
        box-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(13, 3, 67),    /* Core of flame (yellow) */
        0px -6px 12px rgb(30, 5, 66),   /* Body of flame (orange) */
        0px -10px 20px rgb(5, 5, 21);
    }
    50% {
        box-shadow:
        0px -2px 6px rgb(40, 5, 5),    /* Core of flame (yellow) */
        0px -6px 12px rgb(3, 5, 53),   /* Body of flame (orange) */
        0px -10px 20px rgb(32, 20, 30);
    }
    100% {
        box-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(10, 2, 11),    /* Core of flame (yellow) */
        0px -6px 12px rgb(16, 13, 105),   /* Body of flame (orange) */
        0px -10px 20px rgb(80, 13, 13);
    }
}

.profile_picture {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    margin-left: 800px;
    border: solid rgb(121, 69, 100);
}


.user_info {
    text-align: right;
    
}

.user_info h1 {
    margin: 0;
    font-size: 29px;
    color: #ffffff;

    font-family: 'Courier New', Courier, monospace;
}

/* Optional: Add animation for flickering effect */
@keyframes flicker {
    0%, 100% {
        text-shadow:
            0px -1px 3px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
            0px -10px 20px rgb(255, 15, 211);
    }
    50% {
        text-shadow:
            0px -2px 6px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(255, 0, 106),   /* Body of flame (orange) */
            0px -10px 20px rgb(249, 19, 122);
    }
}
.username_gif {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */

}


.user_info p {
    margin: 5px 0 0;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    color: #5a2d51b6;
    margin: 0;
    font-size: 29px;
    color: #2f162ab6;
    text-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(64, 38, 70),    /* Core of flame (yellow) */
        0px -6px 12px rgb(106, 0, 255),   /* Body of flame (orange) */
        0px -10px 20px rgb(51, 54, 204);  /* Edges of flame (red) */
    font-family: 'Courier New', Courier, monospace;

        border: 2px solid rgb(213, 208, 224); /* Golden border */
        box-shadow: 0 0 10px rgba(96, 60, 178, 0.1);
        text-align: center;
        bottom: 20%;
}
@keyframes flicker {
    0%, 100% {
        text-shadow:
            0px -1px 3px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
            0px -10px 20px rgb(255, 15, 211);
    }
    50% {
        text-shadow:
            0px -2px 6px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(255, 0, 106),   /* Body of flame (orange) */
            0px -10px 20px rgb(249, 19, 122);
    }
}

.separator {
    border: none;
    border-top: 2px solid rgb(121, 69, 100); /* Adjust thickness and color */
    margin: 0 0 0 0; /* Adjust space around the separator */
    width: calc(90% + 110px); /* Adjust width to align with vertical line */
    position: relative;
    top: -19px; /* Adjust to align with vertical line */
}

.separator_two{
    border: none;
    border-top: 2px solid rgb(121, 69, 100); /* Adjust thickness and color */
    margin: 0 0 0 0; /* Adjust space around the separator */
    width: calc(90% + 110px); /* Adjust width to align with vertical line */
    position: relative;
    top: 15px; /* Adjust to align with vertical line */
}


.vertical_line {
    width: 2px;
    height: 310px; /* Match the height of the slide image */
    background-color: rgb(121, 69, 100);  /* Adjust color as needed */
    margin: 0 20px; /* Space between the slide and Spotify container */
    position: relative;
    top: -5px;
}


.content_section {
    margin-bottom: 20px;
}

.content_section h2 {
    margin-top: 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.about_me {
    display: flex;
    flex-direction: column;
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.about_image {
    width: 40%; /* Adjust width to take more space */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.about_content p {
    margin: 10;
    font-size: 16px;
    color: #333;
}
.about_wrapper {
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(2, 1, 1);
    box-shadow:
    0 0 10px rgba(255, 69, 0, 0.75),
    0 0 20px rgba(255, 140, 0, 0.75),
    0 0 30px rgba(255, 69, 0, 0.75),
    0 0 40px rgba(255, 0, 0, 0.75);
animation: flaming-border 2s infinite;
}

.about_comment {
    font-family: 'Black Han Sans', sans-serif; /* Apply emo-style font */
    color: #000000;
    margin: 0;
    font-size: 20px;
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    
}

.about_comment li {
    margin-bottom: 60px;
}

.hello_toilet {
    margin-top: 20px;
    text-align: left;
    transform: rotateY(180deg);
    margin-left: 430px;
}

.tol_logo {
    width: 110px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    
}
.desc {
    font-family: 'Permanent Marker', cursive;
    color: #fefefe; /* Bright pink color */
    text-shadow:
    0px -1px 3px #fff,
    0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
    0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
    0px -10px 20px rgb(255, 15, 211);

        border: 2px solid rgb(213, 208, 224); /* Golden border */
        box-shadow: 0 0 10px rgba(96, 60, 178, 0.1);
        text-align: center;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.controls label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.controls button {
    margin-left: 5px;
}

.skib_logo {
    position: absolute;
    bottom: -320px;
    left: 0px;
    width: 20%;
}

.kitty_logo {
    width: 250px; 
    height: 250px; 
    margin-left: 20px; 
    margin-top: 20px; 
}

.npc_two_container {
    position: center;
 
}

.npc_two_container {
    position: absolute;
    right: 800px; 
    bottom: -40px; 
}
.doodle {
    font-family: 'Black Han Sans', sans-serif;
    margin-left: 100px; 
}
.npc_two {
    width: 140px; 
    height: 100px;
}
.slider_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.slider_section button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
}

.slider_section button:hover {
    background-color: rgb(86, 82, 82);
}

.slide_image {
    max-width: 300px;
    max-height: 300px;
    border: 6px solid rgb(121, 69, 100);
    border-radius: 0px;
}
.spotify_container {
    margin-left: 50px; 
    box-shadow:
    0 0px 0 6px rgb(121, 69, 100), /* Outer border */
    0 0 1px 8px rgba(239, 209, 209, 0.5); /* Inner border */
    border-radius: 13px;
    overflow: hidden; /* Ensure content doesn't overflow */
    display: inline-block; /* Fit to the size of the content */
    width: 480px; /* Adjust width to match the iframe */
    height: 220px;
}



.spotify_iframe {
    border-radius: 0; /* Remove rounded corners */
    display: block; /* Ensure iframe takes the full space */
}


