@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.tanner_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.ruin_home {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes flaming-border {
    0% {
        box-shadow:
            0 0 10px rgba(255, 69, 0, 0.75),
            0 0 20px rgba(255, 140, 0, 0.75),
            0 0 30px rgba(255, 69, 0, 0.75),
            0 0 40px rgba(255, 0, 0, 0.75);
    }
    50% {
        box-shadow:
            0 0 20px rgba(255, 69, 0, 0.75),
            0 0 30px rgba(255, 140, 0, 0.75),
            0 0 40px rgba(255, 69, 0, 0.75),
            0 0 50px rgba(255, 0, 0, 0.75);
    }
    100% {
        box-shadow:
            0 0 10px rgba(255, 69, 0, 0.75),
            0 0 20px rgba(255, 140, 0, 0.75),
            0 0 30px rgba(255, 69, 0, 0.75),
            0 0 40px rgba(255, 0, 0, 0.75);
    }
}

.centered_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 14, 181); /* Black background without transparency */
    border: 2px solid transparent; /* Ensure box-shadow effect is visible */
    box-shadow:
        0 0 10px rgba(255, 69, 0, 0.75),
        0 0 20px rgba(255, 140, 0, 0.75),
        0 0 30px rgba(255, 69, 0, 0.75),
        0 0 40px rgba(255, 0, 0, 0.75);
    animation: flaming-border 2s infinite;
    padding: 20px;
    overflow-y: auto;
}

.header_section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.profile_info {
    display: flex;
    align-items: center;
}
@keyframes flaming-border {
    0% {
        box-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
        0px -6px 12px rgb(106, 0, 255),   /* Body of flame (orange) */
        0px -10px 20px rgb(51, 54, 204);
    }
    50% {
        box-shadow:
        0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
        0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
        0px -10px 20px rgb(255, 15, 211);
    }
    100% {
        box-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
        0px -6px 12px rgb(106, 0, 255),   /* Body of flame (orange) */
        0px -10px 20px rgb(51, 54, 204);
    }
}

.profile_picture {
    width: 80px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    animation: flaming-border 2s infinite;
}
.hello_kitty {
    position: absolute;
    top: 10px;
    right: 10px;
}

.kitty_logo {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

.user_info {
    text-align: right;
    
}

.user_info h1 {
    margin: 0;
    font-size: 29px;
    color: #000000b6;
    text-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
        0px -6px 12px rgb(106, 0, 255),   /* Body of flame (orange) */
        0px -10px 20px rgb(51, 54, 204);  /* Edges of flame (red) */
    font-family: 'Courier New', Courier, monospace;
}

/* Optional: Add animation for flickering effect */
@keyframes flicker {
    0%, 100% {
        text-shadow:
            0px -1px 3px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
            0px -10px 20px rgb(255, 15, 211);
    }
    50% {
        text-shadow:
            0px -2px 6px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(255, 0, 106),   /* Body of flame (orange) */
            0px -10px 20px rgb(249, 19, 122);
    }
}

.user_info h1 {
    animation: flicker 2s infinite;
}

.user_info p {
    margin: 5px 0 0;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    color: #f181ddb6;
    margin: 0;
    font-size: 29px;
    color: #f181ddb6;
    text-shadow:
        0px -1px 3px #fff,    /* Intense heat (white) */
        0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
        0px -6px 12px rgb(106, 0, 255),   /* Body of flame (orange) */
        0px -10px 20px rgb(51, 54, 204);  /* Edges of flame (red) */
    font-family: 'Courier New', Courier, monospace;

        border: 2px solid rgb(213, 208, 224); /* Golden border */
        box-shadow: 0 0 10px rgba(96, 60, 178, 0.1);
        text-align: center;
        bottom: 20%;
}
@keyframes flicker {
    0%, 100% {
        text-shadow:
            0px -1px 3px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
            0px -10px 20px rgb(255, 15, 211);
    }
    50% {
        text-shadow:
            0px -2px 6px #fff,
            0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
            0px -6px 12px rgb(255, 0, 106),   /* Body of flame (orange) */
            0px -10px 20px rgb(249, 19, 122);
    }
}

.content_section {
    margin-bottom: 20px;
}

.content_section h2 {
    margin-top: 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.about_me {
    display: flex;
    flex-direction: column;
}

.about_content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.about_image {
    width: 60%; /* Adjust width to take more space */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.about_content p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.about_comment {
    font-family: 'Black Han Sans', sans-serif; /* Apply emo-style font */
    color: #000000;
    margin: 0;
    font-size: 20px;
    text-shadow:
        0px -1px 3px #fff,
        0px -2px 6px rgb(218, 51, 255),
        0px -6px 12px rgb(106, 0, 255),
        0px -10px 20px rgb(51, 54, 204);
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
}

.about_comment li {
    margin-bottom: 10px;
}
.desc {
    font-family: 'Permanent Marker', cursive;
    color: #fefefe; /* Bright pink color */
    text-shadow:
    0px -1px 3px #fff,
    0px -2px 6px rgb(218, 51, 255),    /* Core of flame (yellow) */
    0px -6px 12px rgb(247, 0, 255),   /* Body of flame (orange) */
    0px -10px 20px rgb(255, 15, 211);

        border: 2px solid rgb(213, 208, 224); /* Golden border */
        box-shadow: 0 0 10px rgba(96, 60, 178, 0.1);
        text-align: center;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.controls label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.controls button {
    margin-left: 5px;
}
.tol_logo {
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 20%;
}
.skib_logo {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 20%;
}
.slider_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slider_section button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
}

.slider_section button:hover {
    background-color: darkorange;
}

.slide_image {
    max-width: 300px;
    max-height: 300px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}