
.navbar-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 700px;

}

.navbar {
    list-style: none;
    display: flex; 
    margin: 2;
    padding: 10;
    border: 0px;
    border-bottom: 3px solid;
    -o-border-image: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.2), transparent);
       border-image: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.2), transparent);
    border-image-slice: 1;
    border-top: 0px solid;
}

.navbar__item {
    margin-right: 20px; 
}

.home_nav, .main_nav, .player_nav, .about_nav {
    font-family:"Final Fantasy Script Collection - Final Fantasy VII";
    font-size: 40px;
    background-color: black;
    color: white;
    font-smooth: never;
    -webkit-font-smoothing : none;
    line-height: 20px;
}

