
.entry_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    text-align: center;
    cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  padding: 0 4rem 0 4rem;
  background: -webkit-linear-gradient(left, transparent, #AEAFAE, transparent);
  border: 0px;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.2), transparent);
     border-image: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.2), transparent);
  border-image-slice: 1;
  border-top: 3px solid;
}
.entry_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2vh;
    text-align: center;
}

.home_background {
  width: 100%;
  height: 130%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* CSS for the pop-up container */
.popup_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the pop-up is on top of other content */
  }
  
  /* CSS for the pop-up content */
  .popup_content {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Box shadow for a card-like effect */
    max-height: 50%; /* Set a maximum height for the pop-up content */
    max-width: 50%;
    overflow-y: auto;
  }

  .image_container {
    max-width: 440px; /* Adjust the maximum width as needed to make the image smaller */
    margin: 0 auto; /* Center the image within the container horizontally */
  }
  
  /* CSS for the pop-up image */
  .popup_image {
    max-width: 60%; /* Ensure the image doesn't exceed the container's width */
    height: auto;
    width: 30%;
  }
  

.home_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    font-family:"Play";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.svg#Play") format("svg");
    font-weight:normal;
    font-style:normal;
}

.top_right_image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Adjust this margin to control the distance from the top and right edges */
    width: 100px; /* Adjust the width to your desired size */
  height: auto;
  }
  

